body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #babdbd;
  --secondary-color: #6c757d;
  --primary-bg-color: #dfe1e2;
  --secondary-bg-color: #f8f9fa;
  --border-color: #cccfd1;
  --accent-color: #3dc7d7;
  --light-color: #e0e2e4;
}